.appContainer {
    width: 50%;
    height: 100%;
    margin: 1rem 0 0 0 ;
    border: solid 2px #353434;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 1rem;
    background-color: white;
    display: flex; /* Add flex */
    flex-direction: column; /* Stack vertically */
}

.appContainer label {
    display: block;
    width: 100%;
    text-align: justify;
    font-weight: bold;
}

.appContainer h2 {
    font: bold 1.5rem "Roboto", sans-serif;
    font-weight: 500;
}

.appContainer p {
    font: italic 1rem "Roboto", sans-serif;
}


.img {
    width: 40px;
    height: 40px;
    display: block;
    border: solid 2px #353434;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    border-radius: 20px;
}