.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5rem;
    gap: .8rem;
}

.applicationFormContainer {
    position: relative;
    top: 12px;
    margin-left: 1.5rem;
}

.applicationCatalogContainer {
    position: relative;
    top: 12px;
    margin-left: 1.5rem;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #222121;
}