.bgHome {
 background-image: url('/fundo.jpg');
 background-size: cover;
 filter: blur(.5rem);
 position: fixed;
 width: 100%;
 height: 100%;
 z-index: -1;
 top: 0;
 left: 0;
}

.contentHome {
 position: relative;
 z-index: 1;
 color: white;
 text-align: center;
 padding-top: 100px;
}

.forms-container {
 display: flex;
 gap: 2rem;
 flex-wrap: wrap;
 margin-top: 2rem;
 padding: 2rem;
 justify-content: center;
 align-items: stretch;
}

.form-wrapper {
 flex: 0 1; /* Take up 50% minus gap */
 min-width: 280px;
 max-width: 380px;
 margin-right: 30px;
 height: 380px;
 display: flex;
}

@media (max-width: 900px) {
 .forms-container {
  flex-direction: column;
  align-items: center;
 }

 .form-wrapper {
  flex: 1 1 100%;
  max-width: 600px;
 }
}