.editForm {
    display: flex;
    flex-direction: column;
    padding: .5rem .5rem 1rem 1rem;
    width: 85%;
    height: 100%;
    font-weight: bold;
}

.editForm input {
    margin-bottom: .5rem;
    padding: .25rem
}

.editForm button {
    padding: .75rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    border: none;
    background-color: #1336e8;
    color: white;
    cursor: pointer;
    margin-top: auto;
}

.responseContainer {
    position: absolute;
    padding: .5rem .5rem .5rem .5rem;
    margin-top: 400px;
}