.teamsFormContainer {
    width: 100%;
    height: 100%; /* Changed from 100% to auto */
    margin: 0;
    padding: 1rem;
    background-color: white;
    display: flex; /* Add flex */
    flex-direction: column; /* Stack vertically */
}

.title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #222121;
}

.teamsCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5rem;
    gap: .8rem;
}